body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

input {
  width: 100%;
  box-sizing: border-box;
}

/* Global Styles or a CSS Module */
@media (max-width: 600px) {
  .hide-on-mobile {
    display: none;
  }
}
/* Global Styles or a CSS Module */
@media (max-width: 600px) {
  .table-container {
    max-height: calc(100vh - 150px); /* Ajuste conforme necessário */
    overflow: auto;
  }
}
